<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"></setting>
	</settings>
	
	<!-- 自定义别名 -->
	<typeAliases>
	    <typeAlias type="com.lpc.pojo.User" alias="user"/>
		<typeAlias type="com.lpc.pojo.Docs" alias="docs"/>
		<typeAlias type="com.lpc.pojo.Downlog" alias="downlog"/>
	</typeAliases>



	
	<!-- 配置分页助手插件 -->
	<plugins>
	   <plugin interceptor="com.github.pagehelper.PageHelper">
	      <property name="dialect" value="mysql"/>
	   </plugin>
	</plugins>
	

	<mappers>

	  <package name="com.lpc.mapper"/>
	</mappers>

	
</configuration>